/* @override http://www.fragileinc.com/wp-content/themes/responsive/style.css?ver=1.7.5 */

/* 
Theme Name: Responsive 
Theme URI: http://themeid.com/responsive-theme/ 
Description: Responsive Theme is a flexible foundation with fluid grid system that adapts your website to any mobile devices and the desktop or any other viewing environment. Theme features 9 Page Templates, 10 Widget Areas, 6 Template Layouts, 4 Menu Positions and more. Powerful but simple Theme Options for full CMS control. Easy Logo Upload, Social Networking and Webmaster Tools. Responsive is WooCommerce Compatible, Multilingual Ready (WPML) and currently translated into 27 languages. Cross-Browser compatible and yes even the IE7. No memberships or clubs to get a FREE/Responsive Support you need. http://themeid.com/support

Version: 1.7.7
Author: ThemeID 
Author URI: http://themeid.com
Tags: white, black, gray, light, custom-menu, custom-header, custom-background, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, theme-options, threaded-comments, full-width-template, sticky-post, translation-ready

License: GNU General Public License
License URI: license.txt 

Responsive WordPress Theme, Copyright (C) 2003-2012 Emil Uzelac 

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
	
NOTE: DO NOT EDIT THIS FILE, IF YOU DO IT WILL BE OVERWRITTEN BY THE NEXT UPDATE. CREATE CHILD THEME INSTEAD.

See:
 
- http://codex.wordpress.org/Child_Themes  
- http://themeid.com/forum/topic/505/child-theme-example/
- http://themeid.com/forum/forum/12/responsive-documentation/
	
CSS Rules: Sorted alphabetically for better organization.
*/
	
/* =Reset CSS (v2.0) http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

button, input, select, textarea {
	width:auto;
	overflow:visible;
	margin:0;
	font-size:100%;
	vertical-align:baseline;
}

textarea {
	overflow:auto;
	vertical-align:text-top;
}

/* =Horizontal Rule
-------------------------------------------------------------- */
hr {
	background:#ddd;
	border:none;
	clear:both;
	color:#ddd;
	float:none;
	height:.1em;
	width:100%;
}

hr.space {
	background:#fff;
	color:#fff;
}

/* =Base
-------------------------------------------------------------- */
html {
	height:100%;
}

body {
	-moz-font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
	color:#404040;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	font-smoothing:antialiased;
	line-height:1.5em;
	text-rendering:optimizeLegibility;
}

/* =Typography
-------------------------------------------------------------- */
p {  
    word-wrap:break-word;
}

i,
em,
dfn,
cite {
	font-style:italic;
}

tt,
var,
pre,
kbd,
samp,
code {
	font-family:Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-style:normal;
}

b,
strong {
	font-weight:700;
}

pre {
	background:#fff;
	margin-top:20px;
	max-width:98%;
	padding-left:1em;
	height:auto;
}

del {
	color:#555;
	text-decoration:line-through;
}

ins, 
dfn {
	border-bottom:1px solid #ccc;
}

sup, 
sub,
small {
	font-size:85%;
}

abbr, 
acronym {
	font-size:85%;
	letter-spacing:.1em;
	text-transform:uppercase;
}

a abbr, 
a acronym {
	border:none;
}

dfn[title],
abbr[title], 
acronym[title] {
	border-bottom:1px solid #ccc;
	cursor:help;
}

sup {
	vertical-align:super;
}

sub {
	vertical-align:sub;
}

/* =Responsive 12 Column Grid
    Grid was based on my Shell Theme released on 07/26/2011
-------------------------------------------------------------- */
.grid {
	float:left;
	margin-bottom:2.127659574468%;
	padding-top:0;
}

.grid-right {
	float:right;
	margin-bottom:2.127659574468%;
	padding-top:0;
}

.col-60, 
.col-140, 
.col-220, 
.col-300, 
.col-380, 
.col-460, 
.col-540, 
.col-620, 
.col-700, 
.col-780, 
.col-860 {
	display:inline;
	margin-right:2.127659574468%;
}

.col-60 {
	width:6.382978723404%;
}

.col-140 {
	width:14.893617021277%;
}

.col-220 {
	width:23.404255319149%;
}

.col-300 {
	width:31.914893617021%;
}

.col-380 {
	width:40.425531914894%;
}

.col-460 {
	width:48.936170212766%;
}

.col-540 {
	width:57.446808510638%;
}

.col-620 {
	width:65.957446808511%;
}

.col-700 {
	width:74.468085106383%;
}

.col-780 {
	width:82.978723404255%;
}

.col-860 {
	width:91.489361702128%;
}

.col-940 {
	width:100%;
}

/* .fit is the very last item in your grid 
   to keep your columns inline without float
*/
.fit {
	margin-left:0!important;
	margin-right:0!important;
}

img {
	height:auto;
	max-width:100%;
}

embed,
iframe,
object {
	max-width:100%;
}

/* =Links
-------------------------------------------------------------- */
a {
	color:#06c;
	font-weight:400;
	text-decoration:none;
}

a:hover {
	color:#444;
	text-decoration:none;
}

::selection {
	background:#cdd0d4;
	text-shadow:none;
}

/* =Forms
-------------------------------------------------------------- */
label {
	display:block;
	font-weight:700;
	padding:2px 0;
}

legend {
	padding:2px 5px;
}

fieldset {
	border:1px solid #ccc;
	margin:0 0 1.5em;
	padding:1em 2em;
}

form div {
	clear:both;
}

select,
input[type="text"], 
input[type="password"] {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-webkit-box-shadow:0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
	background:#f4f4f4;
	border:1px solid #aaa;
	border-bottom-color:#ccc;
	border-radius:2px;
	margin:0;
	outline:none;
	padding:6px 8px;
	vertical-align:middle;
	width:70%;
}

select {
	height:auto;
	width:70%;
}

area,
textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-webkit-box-shadow:0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
	box-sizing: border-box;
	background:#f4f4f4;
	border:1px solid #aaa;
	border-bottom-color:#ccc;
	border-radius:2px;
	height:auto;
	overflow:auto;
	margin:0;
	outline:none;
	padding:8px 10px;
	width:100%;
}

input, 
select {
	cursor:pointer;
}

area:focus,
input:focus, 
textarea:focus {
	background:#fff;
}

input[type='text'], 
input[type='password'] {
	cursor:text;
}

/* =Buttons
-------------------------------------------------------------- */
button, 
a.button,
input[type='reset'], 
input[type='button'], 
input[type='submit'] {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background-color:#eaeaea;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	background-image:-webkit-linear-gradient(top, #ffffff, #eaeaea);
	background-image:-moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image:-ms-linear-gradient(top, #ffffff, #eaeaea);
	background-image:-o-linear-gradient(top, #ffffff, #eaeaea);
	background-image:linear-gradient(top, #ffffff, #eaeaea);
	box-shadow:0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);
	border:1px solid #ccc;
	border-bottom-color:#aaa;
	border-radius:2px;
	color:#555;
	cursor:pointer;
	display:inline-block;
	font-size:12px;
	font-weight:700;
	margin:0;
	padding:7px 10px;
	text-decoration:none;
	text-shadow:0 1px 0 #fff;
	vertical-align:middle;
	white-space:nowrap;
}

button:hover, 
a.button:hover,
input[type='reset']:hover, 
input[type='button']:hover, 
input[type='submit']:hover {
	background-color:#eaeaea;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#eaeaea));
	background-image:-webkit-linear-gradient(top, #eaeaea, #eaeaea);
	background-image:-moz-linear-gradient(top, #eaeaea, #eaeaea);
	background-image:-ms-linear-gradient(top, #eaeaea, #eaeaea);
	background-image:-o-linear-gradient(top, #eaeaea, #eaeaea);
	background-image:linear-gradient(top, #eaeaea, #eaeaea);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#eaeaea);
	border:1px solid #bbb;
	border-bottom-color:#aaa;
	color:#555;
}

/* =Buttons (Call to Action)
-------------------------------------------------------------- */
.call-to-action {
	text-align:center;
}

.call-to-action a.button {
	font-size:24px;
	padding:15px 35px;
}

.call-to-action a.button:hover {
	text-decoration:none;
}

.ie7 .call-to-action a.button {
	padding:15px 35px 18px 35px;
}

/* =Buttons (Sizes)
-------------------------------------------------------------- */
.small a.button {
	font-size:10px;
	padding:3px 6px;
}

.medium a.button {
	font-size:16px;
	padding:8px 16px;
}

.large a.button {
	font-size:18px;
	padding:10px 35px;
}

.xlarge a.button {
	font-size:24px;
	padding:12px 55px;
}

/* =Buttons (Colors)
-------------------------------------------------------------- */
a.blue {
	background-color:#4682b4;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#5fb0f4), to(#4682b4));
	background-image:-webkit-linear-gradient(top, #5fb0f4, #4682b4);
	background-image:-moz-linear-gradient(top, #5fb0f4, #4682b4);
	background-image:-ms-linear-gradient(top, #5fb0f4, #4682b4);
	background-image:-o-linear-gradient(top, #5fb0f4, #4682b4);
	background-image:linear-gradient(top, #5fb0f4, #4682b4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#5fb0f4, endColorstr=#4682b4);
	border:1px solid #386890;
	color:#fff;
	text-shadow:0 1px 0 #386890;
}

a.blue:hover {
	background-color:#4682b4;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4));
	background-image:-webkit-linear-gradient(top, #4682b4, #4682b4);
	background-image:-moz-linear-gradient(top, #4682b4, #4682b4);
	background-image:-ms-linear-gradient(top, #4682b4, #4682b4);
	background-image:-o-linear-gradient(top, #4682b4, #4682b4);
	background-image:linear-gradient(top, #4682b4, #4682b4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4682b4, endColorstr=#4682b4);
	border:1px solid #386890;
	color:#fff;
	text-shadow:0 1px 0 #386890;
}

a.red {
	background-color:#b22222;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ed2e2e), to(#b22222));
	background-image:-webkit-linear-gradient(top, #ed2e2e, #b22222);
	background-image:-moz-linear-gradient(top, #ed2e2e, #b22222);
	background-image:-ms-linear-gradient(top, #ed2e2e, #b22222);
	background-image:-o-linear-gradient(top, #ed2e2e, #b22222);
	background-image:linear-gradient(top, #ed2e2e, #b22222);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ed2e2e, endColorstr=#b22222);
	border:1px solid #8e1b1b;
	color:#fff;
	text-shadow:0 1px 0 #8e1b1b;
}

a.red:hover {
	background-color:#b22222;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#b22222), to(#b22222));
	background-image:-webkit-linear-gradient(top, #b22222, #b22222);
	background-image:-moz-linear-gradient(top, #b22222, #b22222);
	background-image:-ms-linear-gradient(top, #b22222, #b22222);
	background-image:-o-linear-gradient(top, #b22222, #b22222);
	background-image:linear-gradient(top, #b22222, #b22222);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b22222, endColorstr=#b22222);
	border:1px solid #8e1b1b;
	color:#fff;
	text-shadow:0 1px 0 #8e1b1b;
}

a.orange {
	background-color:#ff8C00;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fdc37d), to(#ff8C00));
	background-image:-webkit-linear-gradient(top, #fdc37d, #ff8C00);
	background-image:-moz-linear-gradient(top, #fdc37d, #ff8C00);
	background-image:-ms-linear-gradient(top, #fdc37d, #ff8C00);
	background-image:-o-linear-gradient(top, #fdc37d, #ff8C00);
	background-image:linear-gradient(top, #fdc37d, #ff8C00);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdc37d, endColorstr=#ff8C00);
	border:1px solid #cc7000;
	color:#fff;
	text-shadow:0 1px 0 #cc7000;
}

a.orange:hover {
	background-color:#ff8C00;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ff8C00), to(#ff8C00));
	background-image:-webkit-linear-gradient(top, #ff8C00, #ff8C00);
	background-image:-moz-linear-gradient(top, #ff8C00, #ff8C00);
	background-image:-ms-linear-gradient(top, #ff8C00, #ff8C00);
	background-image:-o-linear-gradient(top, #ff8C00, #ff8C00);
	background-image:linear-gradient(top, #ff8C00, #ff8C00);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8C00, endColorstr=#ff8C00);
	border:1px solid #cc7000;
	color:#fff;
	text-shadow:0 1px 0 #cc7000;
}

a.green {
	background-color:#2e8b57;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#46d686), to(#2e8b57));
	background-image:-webkit-linear-gradient(top, #46d686, #2e8b57);
	background-image:-moz-linear-gradient(top, #46d686, #2e8b57);
	background-image:-ms-linear-gradient(top, #46d686, #2e8b57);
	background-image:-o-linear-gradient(top, #46d686, #2e8b57);
	background-image:linear-gradient(top, #46d686, #2e8b57);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#46d686, endColorstr=#2e8b57);
	border:1px solid #256f46;
	color:#fff;
	text-shadow:0 1px 0 #256f46;
}

a.green:hover {
	background-color:#2e8b57;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#2e8b57), to(#2e8b57));
	background-image:-webkit-linear-gradient(top, #2e8b57, #2e8b57);
	background-image:-moz-linear-gradient(top, #2e8b57, #2e8b57);
	background-image:-ms-linear-gradient(top, #2e8b57, #2e8b57);
	background-image:-o-linear-gradient(top, #2e8b57, #2e8b57);
	background-image:linear-gradient(top, #2e8b57, #2e8b57);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2e8b57, endColorstr=#2e8b57);
	border:1px solid #256f46;
	color:#fff;
	text-shadow:0 1px 0 #256f46;
}

a.purple {
	background-color:#9932cc;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#d481fd), to(#9932cc));
	background-image:-webkit-linear-gradient(top, #d481fd, #9932cc);
	background-image:-moz-linear-gradient(top, #d481fd, #9932cc);
	background-image:-ms-linear-gradient(top, #d481fd, #9932cc);
	background-image:-o-linear-gradient(top, #d481fd, #9932cc);
	background-image:linear-gradient(top, #d481fd, #9932cc);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d481fd, endColorstr=#9932cc);
	border:1px solid #7a28a3;
	color:#fff;
	text-shadow:0 1px 0 #7a28a3;
}

a.purple:hover {
	background-color:#9932cc;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#9932cc), to(#9932cc));
	background-image:-webkit-linear-gradient(top, #9932cc, #9932cc);
	background-image:-moz-linear-gradient(top, #9932cc, #9932cc);
	background-image:-ms-linear-gradient(top, #9932cc, #9932cc);
	background-image:-o-linear-gradient(top, #9932cc, #9932cc);
	background-image:linear-gradient(top, #9932cc, #9932cc);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#9932cc, endColorstr=#9932cc);
	border:1px solid #7a28a3;
	color:#fff;
	text-shadow:0 1px 0 #7a28a3;
}

a.pink {
	background-color:#ff69b4;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fcb8da), to(#ff69b4));
	background-image:-webkit-linear-gradient(top, #fcb8da, #ff69b4);
	background-image:-moz-linear-gradient(top, #fcb8da, #ff69b4);
	background-image:-ms-linear-gradient(top, #fcb8da, #ff69b4);
	background-image:-o-linear-gradient(top, #fcb8da, #ff69b4);
	background-image:linear-gradient(top, #fcb8da, #ff69b4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcb8da, endColorstr=#ff69b4);
	border:1px solid #cc5490;
	color:#fff;
	text-shadow:0 1px 0 #cc5490;
}

a.pink:hover {
	background-color:#ff69b4;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ff69b4), to(#ff69b4));
	background-image:-webkit-linear-gradient(top, #ff69b4, #ff69b4);
	background-image:-moz-linear-gradient(top, #ff69b4, #ff69b4);
	background-image:-ms-linear-gradient(top, #ff69b4, #ff69b4);
	background-image:-o-linear-gradient(top, #ff69b4, #ff69b4);
	background-image:linear-gradient(top, #ff69b4, #ff69b4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff69b4, endColorstr=#ff69b4);
	border:1px solid #cc5490;
	color:#fff;
	text-shadow:0 1px 0 #cc5490;
}

a.brick {
	background-color:#ff6347;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fcad9f), to(#ff6347));
	background-image:-webkit-linear-gradient(top, #fcad9f, #ff6347);
	background-image:-moz-linear-gradient(top, #fcad9f, #ff6347);
	background-image:-ms-linear-gradient(top, #fcad9f, #ff6347);
	background-image:-o-linear-gradient(top, #fcad9f, #ff6347);
	background-image:linear-gradient(top, #fcad9f, #ff6347);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcad9f, endColorstr=#ff6347);
	border:1px solid #cc4f39;
	color:#fff;
	text-shadow:0 1px 0 #cc4f39;
}

a.brick:hover {
	background-color:#ff6347;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ff6347), to(#ff6347));
	background-image:-webkit-linear-gradient(top, #ff6347, #ff6347);
	background-image:-moz-linear-gradient(top, #ff6347, #ff6347);
	background-image:-ms-linear-gradient(top, #ff6347, #ff6347);
	background-image:-o-linear-gradient(top, #ff6347, #ff6347);
	background-image:linear-gradient(top, #ff6347, #ff6347);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6347, endColorstr=#ff6347);
	border:1px solid #cc4f39;
	color:#fff;
	text-shadow:0 1px 0 #cc4f39;
}

a.gold {
	background-color:#daa520;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fbd577), to(#daa520));
	background-image:-webkit-linear-gradient(top, #fbd577, #daa520);
	background-image:-moz-linear-gradient(top, #fbd577, #daa520);
	background-image:-ms-linear-gradient(top, #fbd577, #daa520);
	background-image:-o-linear-gradient(top, #fbd577, #daa520);
	background-image:linear-gradient(top, #fbd577, #daa520);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fbd577, endColorstr=#daa520);
	border:1px solid #ae841a;
	color:#fff;
	text-shadow:0 1px 0 #ae841a;
}

a.gold:hover {
	background-color:#daa520;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#daa520), to(#daa520));
	background-image:-webkit-linear-gradient(top, #daa520, #daa520);
	background-image:-moz-linear-gradient(top, #daa520, #daa520);
	background-image:-ms-linear-gradient(top, #daa520, #daa520);
	background-image:-o-linear-gradient(top, #daa520, #daa520);
	background-image:linear-gradient(top, #daa520, #daa520);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#daa520, endColorstr=#daa520);
	border:1px solid #ae841a;
	color:#fff;
	text-shadow:0 1px 0 #ae841a;
}

a.brown {
	background-color:#8b4513;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#d3691d), to(#8b4513));
	background-image:-webkit-linear-gradient(top, #d3691d, #8b4513);
	background-image:-moz-linear-gradient(top, #d3691d, #8b4513);
	background-image:-ms-linear-gradient(top, #d3691d, #8b4513);
	background-image:-o-linear-gradient(top, #d3691d, #8b4513);
	background-image:linear-gradient(top, #d3691d, #8b4513);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3691d, endColorstr=#8b4513);
	border:1px solid #6f370f;
	color:#fff;
	text-shadow:0 1px 0 #6f370f;
}

a.brown:hover {
	background-color:#8b4513;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#8b4513), to(#8b4513));
	background-image:-webkit-linear-gradient(top, #8b4513, #8b4513);
	background-image:-moz-linear-gradient(top, #8b4513, #8b4513);
	background-image:-ms-linear-gradient(top, #8b4513, #8b4513);
	background-image:-o-linear-gradient(top, #8b4513, #8b4513);
	background-image:linear-gradient(top, #8b4513, #8b4513);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8b4513, endColorstr=#8b4513);
	border:1px solid #6f370f;
	color:#fff;
	text-shadow:0 1px 0 #6f370f;
}

a.silver {
	background-color:#c0c0c0;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fbf8f8), to(#c0c0c0));
	background-image:-webkit-linear-gradient(top, #fbf8f8, #c0c0c0);
	background-image:-moz-linear-gradient(top, #fbf8f8, #c0c0c0);
	background-image:-ms-linear-gradient(top, #fbf8f8, #c0c0c0);
	background-image:-o-linear-gradient(top, #fbf8f8, #c0c0c0);
	background-image:linear-gradient(top, #fbf8f8, #c0c0c0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fbf8f8, endColorstr=#c0c0c0);
	border:1px solid #9a9a9a;
	color:#111;
	text-shadow:0 1px 0 #fff;
}

a.silver:hover {
	background-color:#c0c0c0;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#c0c0c0));
	background-image:-webkit-linear-gradient(top, #c0c0c0, #c0c0c0);
	background-image:-moz-linear-gradient(top, #c0c0c0, #c0c0c0);
	background-image:-ms-linear-gradient(top, #c0c0c0, #c0c0c0);
	background-image:-o-linear-gradient(top, #c0c0c0, #c0c0c0);
	background-image:linear-gradient(top, #c0c0c0, #c0c0c0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0c0c0, endColorstr=#c0c0c0);
	border:1px solid #9a9a9a;
	color:#111;
	text-shadow:0 1px 0 #fff;
}

a.gray {
	background-color:#696969;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c0bfbf), to(#696969));
	background-image:-webkit-linear-gradient(top, #c0bfbf, #696969);
	background-image:-moz-linear-gradient(top, #c0bfbf, #696969);
	background-image:-ms-linear-gradient(top, #c0bfbf, #696969);
	background-image:-o-linear-gradient(top, #c0bfbf, #696969);
	background-image:linear-gradient(top, #c0bfbf, #696969);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0bfbf, endColorstr=#696969);
	border:1px solid #545454;
	color:#fff;
	text-shadow:0 1px 0 #111;
}

a.gray:hover {
	background-color:#696969;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#696969), to(#696969));
	background-image:-webkit-linear-gradient(top, #696969, #696969);
	background-image:-moz-linear-gradient(top, #696969, #696969);
	background-image:-ms-linear-gradient(top, #696969, #696969);
	background-image:-o-linear-gradient(top, #696969, #696969);
	background-image:linear-gradient(top, #696969, #696969);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#696969, endColorstr=#696969);
	border:1px solid #545454;
	color:#fff;
	text-shadow:0 1px 0 #111;
}

a.black {
	background-color:#000000;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#515151), to(#000000));
	background-image:-webkit-linear-gradient(top, #515151, #000000);
	background-image:-moz-linear-gradient(top, #515151, #000000);
	background-image:-ms-linear-gradient(top, #515151, #000000);
	background-image:-o-linear-gradient(top, #515151, #000000);
	background-image:linear-gradient(top, #515151, #000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#515151, endColorstr=#000000);
	border:1px solid #000000;
	color:#fff;
	text-shadow:0 1px 0 #000000;
}

a.black:hover {
	background-color:#000000;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#191919), to(#000000));
	background-image:-webkit-linear-gradient(top, #191919, #000000);
	background-image:-moz-linear-gradient(top, #191919, #000000);
	background-image:-ms-linear-gradient(top, #191919, #000000);
	background-image:-o-linear-gradient(top, #191919, #000000);
	background-image:linear-gradient(top, #191919, #000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#191919, endColorstr=#000000);
	border:1px solid #000000;
	color:#fff;
	text-shadow:0 1px 0 #000000;
}

/* =Info Boxes
-------------------------------------------------------------- */
.info-box {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:block;
	margin:20px 0;
	padding:15px;
	text-align:left;
}

.alert {
	background-color:#faebeb;
	border:1px solid #dc7070;
	color:#212121;
}

.address {
	background-color:#f6f5ef;
	border:1px solid #cdc9a5;
	color:#212121;
}

.notice {
	background-color:#fbf9e9;
	border:1px solid #e3cf57;
	color:#212121;
}

.success {
	background-color:#f9fde8;
	border:1px solid #a2bc13;
	color:#212121;
}

.download {
	background-color:#fff4e5;
	border:1px solid #ff9912;
	color:#212121;
}

.information {
	background-color:#eef3f6;
	border:1px solid #6ca6cd;
	color:#212121;
}

.required {
	color:#d5243f;
}

/* =IE6 Notice
-------------------------------------------------------------- */
.msie-box {
	background-color:#f9edbe;
	border:1px solid #f0c36d;
	color:#212121;
	display:block;
	margin:0 auto;
	max-width:960px;
	padding:10px;
	position:absolute;
	top:60px;
	text-align:center;
	width:100%;
}

.msie-box a {
	color:#212121;
}

/* =Tables
-------------------------------------------------------------- */
th, 
td,
table {
	border:1px solid #ddd;
}

table {
	border-collapse:collapse;
	width:100%;
}

/* =Lists
-------------------------------------------------------------- */
ul {
	list-style-type:disc;
}

ul ul {
	list-style-type:square;
}

ul ul ul {
	list-style-type:circle;
}

ol {
	line-height:22px;
	list-style-position:outside;
	list-style-type:decimal;
}

dt {
	font-weight:400;
}

/* =Blockquote
-------------------------------------------------------------- */
blockquote {
	background:#f9f9f9;
	border:none;
	border-left:4px solid #d6d6d6;
	margin:20px;
	overflow:auto;
	padding:0 0 10px 12px;
}

blockquote p {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:18px;
	line-height:26px;
}

/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight:700;
	line-height:1em;
    word-wrap:break-word;
}

h1 {
	color:#404040;
	font-size:2em;
}

h2 {
	color:#777;
	font-size:1.6em;
}

h3 {
	font-size:1.5em;
}

h4 {
	font-size:1.3em;
}

h5 {
	font-size:1.2em;
}

h6 {
	font-size:1em;
	text-transform:uppercase;
}

/* =Margins & Paddings
-------------------------------------------------------------- */
p, 
hr, 
dl, 
pre,
form,
table,
address, 
blockquote {
	margin:1.6em 0;
}

h1 {
	margin:1em 0 .5em;
}

h2 {
	margin:1.07em 0 .535em;
}

h3 {
	margin:1.14em 0 .57em;
}

h4 {
	margin:1.23em 0 .615em;
}

h5 {
	margin:1.33em 0 .67em;
}

h6 {
	margin:1.6em 0 .8em;
}

th, td {
	padding:.8em;
}

caption {
	padding-bottom:.8em;
}

blockquote {
	padding:0 1em;
}

blockquote:first-child {
	margin:.8em 0;
}

fieldset {
	margin:1.6em 0;
	padding:0 1em 1em;
}

legend {
	padding-left:.8em;
	padding-right:.8em;
}

legend+* {
	margin-top:1em;
}

input,
textarea {
	padding:.3em .4em .15em;
}

select {
	padding:.1em .2em 0;
}

option {
	padding:0 .4em;
}

dt {
	margin-bottom:.4em;
	margin-top:.8em;
}

ul {
	margin-left:1.5em;
}

ol {
	margin-left:2.35em;
}

ol ol, 
ul ol {
	margin-left:2.5em;
}

form div {
	margin-bottom:.8em;
}

/* =Globals
-------------------------------------------------------------- */
#container {
	margin:0 auto;
	max-width:960px;
	padding:0px 25px;
}

#wrapper {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background-color:#fff;
	border:1px solid #d6d6d6;
	border-radius: 6px;
	clear:both;
	margin: 20px auto 20px auto;
	padding: 0 20px 20px 20px;
	position:relative;
}

.home #wrapper {
	background-color:transparent;
	border:none;
	margin: 20px auto 20px auto;
	padding:0;
}

#header {
	margin:0;
}

#footer {
	clear:both;
	margin:0 auto;
	max-width:960px;
	padding:0 25px 0 25px;
}

#footer-wrapper {
	margin:0;
	padding:0;
}

/* =Header
-------------------------------------------------------------- */
#logo {
	float:left;
	margin: 20px 0 10px -10px;
}

.site-name {
	display:block;
	font-size:2em;
	padding-top:20px;
}

.site-name a {
	font-weight:700;
}

.site-description {
	display:block;
	font-size:14px;
	margin:10px 33px 10px 0;
}

/* =Content
-------------------------------------------------------------- */
#content {
	margin-bottom:20px;
}

#content-full {
	margin-bottom:20px;
}

#content-blog {
	margin-bottom:20px;
}

#content-images {
	margin-bottom:20px;
}

#content-archive {
	margin-bottom:20px;
}

#content-sitemap {
	margin-bottom:20px;
}

#content-sitemap a {
	font-size:12px;
}

#content .sticky {
	clear:both;
}

#content .sticky p {
}

/* =Templates
-------------------------------------------------------------- */
.page-template-landing-page-php .menu, 
.page-template-landing-page-php .top-menu,
.page-template-landing-page-php .footer-menu, 
.page-template-landing-page-php .sub-header-menu {
	display:none;
}

/* =Author Meta (Author's Box)
-------------------------------------------------------------- */
#author-meta {
	background:#f9f9f9;
	border:1px solid #d6d6d6;
	clear:both;
	display:block;
	margin-bottom:20px;
	overflow:hidden;
}

#author-meta img {
	float:left;
	padding:10px;
}

#author-meta p {
	margin-top:5px;
	padding:0 5px 0 0;
}

#author-meta .about-author {
	font-weight:700;
	margin:10px 0 0 0;
}

/* =Featured Content
-------------------------------------------------------------- */
#featured {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #fff;
	border:1px solid #d6d6d6;
	border-radius: 6px;
	padding-bottom: 40px;
	width:99.893617021277%;
}

#featured p {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	padding: 0 40px 0 40px;
	text-align:center;
}

#featured-image {
	margin:40px 0 0 0;
}

#featured-image .fluid-width-video-wrapper {
	margin-left:-20px;
}

.featured-title {
	font-size: 60px;
	letter-spacing: -1px;
	margin: 0;
	padding-top:40px;
	text-align:center;
}

.featured-subtitle {
	padding:0 10px;
	text-align:center;
}

.featured-image img {
	margin-top:44px;
}

/* =Post
-------------------------------------------------------------- */
.comments-link {
	font-size:12px;
}

#cancel-comment-reply-link {
	color:#900;
}

.post-data {
	clear:both;
	font-size:11px;
	font-weight:700;
	margin-top:20px;
}

.post-data a {
	color:#111;
}

.post-entry {
	clear:both;
}

.post-meta {
	clear:both;
	color:#9f9f9f;
	font-size:13px;
	margin-bottom:10px;
}

.post-edit {
	clear:both;
	display:block;
	font-size:12px;
	margin:1.5em 0;
}

.post-search-terms {
	clear:both;
}

.read-more {
	clear:both;
	font-weight:700;
}

.attachment-entry {
	clear:both;
	text-align:center;
}

/* =bbPress
    bbPress has its own breadcrumb lists
-------------------------------------------------------------- */
.bbPress .breadcrumb-list {
	display:none;
}

/* =Symbols
-------------------------------------------------------------- */
.ellipsis {
	color:#aaa;
	font-size:18px;
	margin-left:5px;
}

.form-allowed-tags {
	font-size:10px;
}

/* =Widgets
-------------------------------------------------------------- */
.widget-wrapper {
	-webkit-border-radius:6px;
    -moz-border-radius:6px;
	background-color:#f9f9f9;
	border:1px solid #d6d6d6;
	border-radius:6px;
	font-size:13px;
	margin:0 0 20px;
	padding:20px;
}

#widgets {
	margin-top:40px;
}

.home #widgets {
	margin-top:0;
}

#widgets a {
	display:inline-block;
	margin:0;
	padding:0;
	text-decoration:none;
}

#widgets #s {
	width:70%;
}

#widgets ul li {
	margin-left:10px;
}

#widgets ul li a {
	display:inline;
	text-decoration:none;
}

#widgets .widget-title img {
	float:right;
	height:11px;
	position:relative;
	top:4px;
	width:11px;
}

#widgets .rss-date {
	line-height:18px;
	padding:6px 12px;
}

#widgets .rssSummary {
	padding:10px;
}

#widgets cite {
	font-style:normal;
	line-height:18px;
	padding:6px 12px;
}

#widgets .tagcloud,
#widgets .textwidget {
	display:block;
	line-height:1.5em;
	margin:0;
	word-wrap:break-word;
}

#widgets .textwidget a {
	display:inline;
}

#widgets ul .children {
	border:none;
	margin:0;
	padding:0;
}

#widgets .author {
	font-weight:700;
	padding-top:4px;
}

.widget_archive select, #cat {
	display:block;
	margin:0 15px 0 0;
}

.colophon-widget {
	background:none;
	min-height:0;
}

/* =Titles
-------------------------------------------------------------- */
.widget-title, 
.widget-title-home h3 {
	display:block;
	font-size:24px;
	font-weight:700;
	line-height:23px;
	margin:0;
	padding:0 0 20px 0;
	text-align:left;
}

.widget-title a {
	border-bottom:none;
	padding:0!important;
}

.title-404 {
	color:#933;
}

/* =Top Menu
-------------------------------------------------------------- */
.top-menu {
	float:right;
	margin:10px 0 0 0;
}

.top-menu li {
	display:inline;
	list-style-type:none;
}

.top-menu li a {
	color:#333;
	font-size:11px;
	padding: 0 8px;
}

.top-menu > li:first-child > a {
	border-left:none;
	padding:0 8px 0 0;
}

.top-menu li a:hover {
	color:#333;
}

/* =Primary Menu
-------------------------------------------------------------- */
.menu {
	clear:both;
   	margin:0 auto;
}

.menu, 
.menu ul {
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;
}

.menu li {
	border:0;
	display:block;
	float:left;
	margin:0;
	padding:0;
	position:relative;
	z-index:5;
}

.menu li:hover {
	white-space:normal;
	z-index:10000;
}

.menu li li {
	float:none;
}

.menu ul {
	left:0;
	position:absolute;
	top:0;
	visibility:hidden;
	z-index:10;
}

.menu li:hover > ul {
	top:100%;
	visibility:visible;
}

.menu li li:hover > ul {
	left:100%;
	top:0;
}

.menu:after, 
.menu ul:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
}

.menu, 
.menu ul {
	min-height:0;
}

.menu ul {
	margin:-10px 0 0 -30px;
	padding:10px 30px 30px;
}

.menu ul ul {
	margin:-30px 0 0 -10px;
	padding:30px 30px 30px 10px;
}

.menu ul li a:hover, 
.menu li li a:hover {
	color:#484848;
	text-decoration:none;
}

.menu ul {
	min-width:15em;
	width:auto;
}

.menu a {
	color:#fff;
	display:block;
	font-size:13px;
	font-weight:700;
	height:45px;
	line-height:45px;
	margin:0;
	padding:0 0.9em;
	position:relative;
	text-decoration:none;
	text-shadow:0 1px 1px #242424;
}

.menu a:hover {
	color:#fff;
   }

.menu .current_page_item a {
	background-color:#343434;
}

.home .menu .current_page_item a {
	background-color:transparent;
}

.menu li li {
	background:#fff;
	background-image:none;
	border-top:none;
	color:#444;
	filter:none;
	width:auto;
}

.menu li li a {
	background:transparent!important;
	border:none;
	color:#444;
	font-size:12px;
	font-weight:400;
	height:auto;
	height:20px;
	line-height:20px;
	padding:5px 10px;
	text-shadow:none;
	white-space:nowrap;
}

.menu li li a:hover {
	background:#f5f5f5 !important;
	background-image:none;
	border:none;
	color:#444;
	filter:none;
}

.menu ul > li + li {
	border-top:0;
}

.menu li li:hover > ul {
	left:100%;
	top:0;
}

.menu > li:first-child > a {
	border-left:none;
}

/* =Primary Main Menu IE Fixes (Modernizr)
-------------------------------------------------------------- */
.ie7 .menu ul {
	background:url(images/ie7-fix.gif) repeat;
}

/* =Responsive Menu (Tinynav.js)
-------------------------------------------------------------- */
.tinynav { 
    display:none 
}

/* =Sub Header Menu
-------------------------------------------------------------- */
.sub-header-menu {
	background-color:#fff;
	border:1px solid #d6d6d6;
	border-top:none;
	clear:both;
	margin:0 auto;
}

.sub-header-menu, 
.sub-header-menu ul {
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;
}

.sub-header-menu li {
	border:0;
	display:block;
	float:left;
	margin:0;
	padding:0;
	position:relative;
	z-index:5;
}

.sub-header-menu li:hover {
	white-space:normal;
	z-index:10000;
}

.sub-header-menu li li {
	float:none;
}

.sub-header-menu ul {
	left:0;
	position:absolute;
	top:0;
	visibility:hidden;
	z-index:10;
}

.sub-header-menu li:hover > ul {
	top:100%;
	visibility:visible;
}

.sub-header-menu li li:hover > ul {
	left:100%;
	top:0;
}

.sub-header-menu:after, 
.sub-header-menu ul:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
}

.sub-header-menu, 
.sub-header-menu ul {
	min-height:0;
}

.sub-header-menu ul {
	margin:-10px 0 0 -30px;
	padding:10px 30px 30px;
}

.sub-header-menu ul ul {
	margin:-30px 0 0 -10px;
	padding:30px 30px 30px 10px;
}

.sub-header-menu ul li a:hover, 
.sub-header-menu li li a:hover {
	color:#484848;
	text-decoration:none;
}

.sub-header-menu ul {
	width:14em;
}

.sub-header-menu a {
	color:#333;
	display:block;
	font-size:13px;
	font-weight:700;
	height:45px;
	line-height:45px;
	margin:0;
	padding:0 0.9em;
	position:relative;
	text-decoration:none;
	text-shadow:none;
}

.sub-header-menu a:hover {
	background-color:#f9f9f9;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.sub-header-menu .current_page_item a {
	background-color:#f9f9f9;
}

.sub-header-menu li li {
	background:#fff;
	background-image:none;
	border:1px solid #d6d6d6;
	border-top:none;
	color:#444;
	filter:none;
	width:auto;
}

.sub-header-menu li li a {
	border:none;
	color:#444;
	font-size:12px;
	font-weight:400;
	height:auto;
	height:20px;
	line-height:20px;
	padding:5px 10px;
	text-shadow:none;
}

.sub-header-menu li li a:hover {
	background:#f9f9f9;
	background-image:none;
	border:none;
	color:#444;
	filter:none;
}

.sub-header-menu ul > li + li {
	border-top:0;
}

.sub-header-menu li li:hover > ul {
	left:100%;
	top:0;
}

.sub-header-menu > li:first-child > a {
	border-left:none;
}

.sub-header-menu ul.children a, 
.sub-header-menu .current_page_ancestor, 
.sub-header-menu .current_page_ancestor ul a {
	background:none;
	background-image:none;
	filter:none;
}

/* =Sub Header Menu IE Fixes (Modernizr)
-------------------------------------------------------------- */
.ie7 .sub-header-menu ul {
	background:url(images/ie7-fix.gif) repeat;
}

/* =Footer Menu
-------------------------------------------------------------- */
.footer-menu {
	margin-left:0;
}

.footer-menu li {
	display:inline;
	list-style-type:none;
}

.footer-menu li a {
	color:#333;
	padding: 0 8px;
}

.footer-menu > li:first-child > a {
	border-left:none;
	padding:0 8px 0 0;
}

.footer-menu li a:hover {
	color:#333;
}

/* =Navigation
-------------------------------------------------------------- */
.navigation {
	color:#111;
	display:block;
	font-size:13px;
	height:28px;
	line-height:28px;
	margin:20px 0;
	padding:0 5px;
}

.navigation a {
	color:#aaa;
	padding:4px 10px;
}

.navigation a:hover {
	color:#111;
	text-decoration:none;
}

.navigation .previous {
	float:left;
}

.navigation .next {
	float:right;
}

.navigation .bracket {
	font-size:36px;
}

/* =Pagination (pages)
-------------------------------------------------------------- */
.pagination {
	clear:both;
	display:block;
	font-size:16px;
	font-weight:700;
	margin:10px 0;
	padding:5px 0;
}

.pagination a {
	text-decoration:none;
}

/* =Breadcrumb Lists
-------------------------------------------------------------- */
.breadcrumb-list {
	font-size:12px;
	padding:40px 0 0 0;
}

/* =Comments
-------------------------------------------------------------- */
#commentform {
	margin:0;
}

.commentlist {
	border-bottom:1px dotted #eee;
	list-style:none;
	margin:0;
	padding:0;
}

.commentlist ol {
	list-style:decimal;
}

.commentlist li {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background-color:#fff;
	border-radius:4px;
	margin:0;
}

.commentlist .bypostauthor {}

.commentlist li cite {
	color:#111;
	font-size:1.1em;
	font-style:normal;
	font-weight:400;
}

.commentlist li.alt {
	background:#f9f9f9;
}

.commentlist .children {
	list-style:none;
	margin-left:10px;
	padding:10px;
}

.commentlist .avatar {
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	float:left;
	margin-right:10px;
	padding:0;
	vertical-align:middle;
}

.comment-author .fn {
}

.comment-author .says {
	color:#999;
}

.comment-body .comment-meta {
	color:#999;
	display:inline-block;
	margin:0;
	padding:0;
	text-align:left;
}

.comment-body .comment-meta a {
	font-size:11px;
}

.comment-body {
	clear:both;
	padding:10px;
}

.comment-body p {
	clear:both;
}

.comment-body .reply {
}

.pingback, .trackback {
	list-style:none;
	margin:20px 0;
}

.pingback cite, 
.trackback cite {
	font-style:normal;
}

#comments, #pings {
	text-align:left;
}

#respond {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background-color:#eaeaea;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	background-image:-webkit-linear-gradient(top, #ffffff, #eaeaea);
	background-image:-moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image:-ms-linear-gradient(top, #ffffff, #eaeaea);
	background-image:-o-linear-gradient(top, #ffffff, #eaeaea);
	background-image:linear-gradient(top, #ffffff, #eaeaea);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);
	border:1px solid #ccc;
	border-bottom-color:#aaa;
	border-radius:2px;
	clear:both;
	margin-top:15px;
	padding:10px 20px 50px;
}

#respond label {
	display:inline;
}

.reply {
	margin:10px 0;
}

.comment-form-url input,  
.comment-form-email input,
.comment-form-author input,
.comment-form-comment textarea {
	display:block;
}

.nocomments {
	color:#999;
	font-size:.9em;
	text-align:center;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin:5px 20px 20px 0;
}

.aligncenter, 
div.aligncenter {
	display:block;
	margin:5px auto;
}

.alignright {
	float:right;
	margin:5px 0 20px 20px;
}

.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}

.aligncenter {
	display:block;
	margin:5px auto;
}

a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}

a img.alignnone {
	margin:5px 20px 20px 0;
}

a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}

a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.wp-caption {
	background:#fff;
	border:1px solid #f0f0f0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}

.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}

.wp-caption.alignright {
	margin:5px 0 20px 20px;
}

.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}

.wp-caption p.wp-caption-text {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}

img.wp-smiley {
	vertical-align:middle;
}

/* =Gallery
-------------------------------------------------------------- */
.gallery {
	margin:0 auto 18px;
}

.gallery .gallery-item {
	float:left;
	margin-top:0;
	text-align:center;
	width:155px;
}

.gallery img {
	border:1px solid #ddd;
}

.gallery .gallery-caption {
	font-size:12px;
	margin:0 0 12px;
}

.gallery dl {
	margin:0;
}

.gallery br+br {
	display:none;
}

.attachment-gallery img {
	background:#fff;
	border:1px solid #f0f0f0;
	display:block;
	height:auto;
	margin:15px auto;
	max-width:96%;
	padding:5px;
	width:auto;
}

.gallery-meta .iso, 
.gallery-meta .camera,
.gallery-meta .shutter,
.gallery-meta .aperture,
.gallery-meta .full-size,  
.gallery-meta .focal-length {
	display:block;
}

/* =Post Thumbnails 
-------------------------------------------------------------- */
img.wp-post-image,
img.attachment-full,
img.attachment-large, 
img.attachment-medium, 
img.attachment-thumbnail {
	display:block;
	margin:15px auto;
	width:auto;
}

/* =WooCommerce
-------------------------------------------------------------- */
#breadcrumb {
	padding:40px 0 0 0;
}

#breadcrumb a {
	color:#06c;
	font-size:12px;
	font-weight:400;
}

#breadcrumb a:hover {
	color:#444;
	text-decoration:none;
}

#content-woocommerce {
	margin-bottom:20px;
}

.products ul, ul.products {
	margin-top:40px;
}

.cart-collaterals .shipping_calculator {
	width:100%;
}

table.shop_table {
}

table.cart td.actions .coupon .input-text, 
table.cart td.actions .coupon .input-text {
	cursor:text;
}

/* =Footer
-------------------------------------------------------------- */
#footer {
	color:#333;
	font-size:11px;
	line-height:1.5em;
}

#footer a {
	color:#333;
	font-weight:400;
}

#footer a:hover {
}

#footer-wrapper .grid.col-940 {
	margin:0;
}

.scroll-top {
	text-align:center;
}

.copyright {
	text-align:left;
}

.powered {
	text-align:right;
}

/* =Social Icons
-------------------------------------------------------------- */
#footer .social-icons {
	list-style:none;
	line-height:normal;
	margin:0;
	text-align:right;
}


#footer .yelp-icon,
#footer .vimeo-icon, 
#footer .youtube-icon, 
#footer .twitter-icon,
#footer .facebook-icon, 
#footer .linkedin-icon, 
#footer .rss-feed-icon, 
#footer .instagram-icon,
#footer .pinterest-icon, 
#footer .foursquare-icon,
#footer .google-plus-icon, 
#footer .stumble-upon-icon {
	display:inline;
	margin:1px;
	padding-left:3px;
}

/* =Alignments Extras
-------------------------------------------------------------- */
.left {
	float:left;
}

.right {
	float:right;
}

.center {
	text-align:center;
}

/* =Clearfix
-------------------------------------------------------------- */
.clearfix:after, 
#container:after, 
.widget-wrapper:after {
	clear:both;
	content:"\0020";
	display:block;
	height:0;
	max-height:0;
	overflow:hidden;
	visibility:hidden;
}

.clearfix, 
#container, 
.widget-wrapper {
	display:inline-block;
}

*html .clearfix, 
*html #container, 
*html .widget-wrapper {
	height:1%;
}

.clearfix, 
#container, 
.widget-wrapper {
	display:block;
}

.clear {
	clear:both;
}

/* =Begin bidirectionality settings (do not change)
-------------------------------------------------------------- */
BDO[DIR="ltr"] {
	direction:ltr;
	unicode-bidi:bidi-override;
}

BDO[DIR="rtl"] {
	direction:rtl;
	unicode-bidi:bidi-override;
}

[DIR="ltr"] {
   direction:ltr;
   unicode-bidi:embed;
}

[DIR="rtl"] {
   direction:rtl;
   unicode-bidi:embed;
}

/* =Media Print
-------------------------------------------------------------- */
@media print {

    h1 {
	    page-break-before:always;
    }

    h1,  h2,  h3,  h4,  h5,  h6 {
	    page-break-after:avoid;
    }

    ul,  ol,  dl {
	    page-break-before:avoid;
    }
}

/* =Responsive Design
    Media Queries
    If you're working on a Child Theme, make sure that all
	media queries are included in your style.css
-------------------------------------------------------------- */
@media screen and (max-width: 980px) {

    body {
    }
	
    .grid, 
	.grid-right {
	    float:none;
    }
	
	#featured-image .fluid-width-video-wrapper {
	    margin:20px 0 0 0;
    }
	
	.home #widgets {
		margin-top:40px;
	}
}

@media screen and (max-width: 650px) {

    body {
    }

    #logo {
	    float:none;
	    text-align:center;
    }

    .grid, 
	.grid-right {
	    float:none;
    }

	#featured-image .fluid-width-video-wrapper {
	    margin:20px 0 0 0;
    }
	
    .js .menu,
	.js .sub-header-menu {
		display:none;
	}
	
	.top-menu, 
	.footer-menu li {
	    float:none;
	    text-align:center;
    }
	
	.tinynav { 
	    display:block;
		margin:0 auto;
		width:100%;
	}
	
	.tinynav {
		-moz-appearance:none;
		-webkit-appearance:none;
		appearance:none;
		background: #fff url(images/bg-select.png) no-repeat right;
		border:1px solid #ccc;
		overflow:hidden;
		padding:0.5em 1em 0.5em 0.75em;
	}
	
	.ie7 .tinynav,
	.ie8 .tinynav {
		padding-right:10px;
	}
	
	.ie9 .tinynav  {
		padding-right:8px;
	}
	
    #footer {
	    text-align:center;
    }

    #footer .social-icons {
	    text-align:center;
    }
}

@media screen and (max-width: 480px) {

    body {
    }

    #logo {
	    float:none;
		position:relative;
	    text-align:center;
    }

    .grid, 
	.grid-right {
	    float:none;
    }
	
	#featured-image .fluid-width-video-wrapper {
	    margin:20px 0 0 0;
	}
	
	.featured-title {
	    font-size:40px;
	    padding:40px 20px 0 20px
    }
	
    .menu ul, 
	.menu li, 
	.top-menu, 
	.footer-menu li, 
	.sub-header-menu li {
	    float:none;
	    text-align:center;
    }
	
    #footer {
	    text-align:center;
    }

    #footer .social-icons {
	    text-align:center;
    }
}

@media screen and (max-width: 320px) {
	
	#featured p {
	    font-size:12px;
		line-height:1.2em;
    }

    .featured-title {
	    font-size:35px;
    }
	
	.featured-subtitle {
		font-size:15px;
	}

    .call-to-action a.button {
	    font-size:14px;
	    padding:7px 17px;
    }
}

@media screen and (max-width: 240px) {
	
	#featured p {
	    font-size:11px;
		line-height:1.1em;
    }

    .featured-title {
	    font-size:20px;
    }
	
	.featured-subtitle {
		font-size:11px;
	}

    .call-to-action a.button {
	    font-size:12px;
	    padding:5px 15px;
    }
}
/*"The last 29 days of the month are the hardest."- Nikola Tesla*/