/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* #Retina Styles
================================================== */

/*
* Swift Framework Retina Stylesheet v1.0
* Retina Stylesheet for Retina Dislay Devices
* Copyright 2012, Swift Ideas
*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
       	#logo img.standard {
       		display: none;
       	}
       	#logo img.retina {
       		display: block;
       	}
       	.mobile-nav > div {
       		background-image: url('../images/select@2x.png');
			background-size: 28px 26px;
       	}
       	ul.social-icons li a {
       		background-image: url('../images/social-icons@2x.png');
       		background-size: 512px 32px;
       	}
		ul.social-icons.small li a  {
			background-image: url('../images/social-icons-small@2x.png');
			background-size: 384px 24px;
		}
		ul.social-icons.dark li a {
			background-image: url('../images/social-icons-mono@2x.png');
		}
		ul.social-icons.dark.small li a {
			background-image: url('../images/social-icons-mono-small@2x.png');
		}
		ul.social-icons.light li a {
			background-image: url('../images/social-icons-mono-light@2x.png');
		}
		ul.social-icons.light.small li a {
			background-image: url('../images/social-icons-mono-light-small@2x.png');
		}
		#respond .form-submit input, .wpcf7 input.wpcf7-submit[type="submit"], a.sf-button .arrow {
			background-image: url('../images/button-arrow@2x.png');
			background-size: 6px 9px;
		}
		a.sf-button.lightgrey .arrow, a.sf-button.green .arrow, a.sf-button.limegreen .arrow {
			background-image: url('../images/button-arrow2@2x.png');
			background-size: 6px 9px;
		}
		.widget.flickr-widget li {
			background-image: url('../images/plus-icon@2x.png');
			background-size: 13px 13px;
		}
		.flex-direction-nav a, .wooslider-direction-nav a, .tp-leftarrow, .tp-leftarrow.large, .tp-leftarrow.square, .tp-leftarrow.round, .tp-rightarrow, .tp-rightarrow.large, .tp-rightarrow.square, .tp-rightarrow.round {
			background-image: url('../images/showcase-nav@2x.png');
			background-size: 72px 36px;
		}
		.thumb-slider .flex-direction-nav a {
			background-image: url('../images/slider-thumb-controls@2x.png');
			background-size: 67px 26px;
		}
		.list-add_bw li {
			background-image: url('../images/list-icons/add_b&w@2x.png');
			background-size: 10px 11px;
		}
		.list-add li {
			background-image: url('../images/list-icons/add_colour@2x.png');
			background-size: 10px 11px;
		}
		.list-arrow_bw li {
			background-image: url('../images/list-icons/arrow_b&w@2x.png');
			background-size: 13px 11px;
		}
		.list-arrow li {
			background-image: url('../images/list-icons/arrow_colour@2x.png');
			background-size: 13px 11px;
		}
		.list-article li {
			background-image: url('../images/list-icons/article_b&w@2x.png');
			background-size: 13px 11px;
		}
		.list-bar li {
			background-image: url('../images/list-icons/bar_b&w@2x.png');
			background-size: 11px 4px;
		}
		.list-bolt_bw li {
			background-image: url('../images/list-icons/bolt_b&w@2x.png');
			background-size: 9px 12px;
		}
		.list-bolt li {
			background-image: url('../images/list-icons/bolt_colour@2x.png');
			background-size: 9px 12px;
		}
		.list-date li {
			background-image: url('../images/list-icons/date_b&w@2x.png');
			background-size: 11px 13px;
		}
		.list-delete_bw li {
			background-image: url('../images/list-icons/delete_b&w@2x.png');
			background-size: 10px 10px;
		}
		.list-delete li {
			background-image: url('../images/list-icons/delete_colour@2x.png');
			background-size: 10px 10px;
		}
		.list-dot li {
			background-image: url('../images/list-icons/dot_b&w@2x.png');
			background-size: 7px 7px;
		}
		.list-like_bw li {
			background-image: url('../images/list-icons/like_b&w@2x.png');
			background-size: 12px 11px;
		}
		.list-like li {
			background-image: url('../images/list-icons/like_colour@2x.png');
			background-size: 12px 11px;
		}
		.list-pen li {
			background-image: url('../images/list-icons/pen_b&w@2x.png');
			background-size: 12px 12px;
		}
		.list-question_bw li {
			background-image: url('../images/list-icons/questionMark_b&w@2x.png');
			background-size: 12px 12px;
		}
		.list-question li {
			background-image: url('../images/list-icons/questionMark_colour@2x.png');
			background-size: 12px 12px;
		}
		.list-settings_bw li {
			background-image: url('../images/list-icons/settings_b&w@2x.png');
			background-size: 12px 12px;
		}
		.list-settings li {
			background-image: url('../images/list-icons/settings_colour@2x.png');
			background-size: 12px 12px;
		}
		.list-star_bw li {
			background-image: url('../images/list-icons/star_b&w@2x.png');
			background-size: 12px 12px;
		}
		.list-star li {
			background-image: url('../images/list-icons/star_colour@2x.png');
			background-size: 12px 12px;
		}
		.list-tick_bw li {
			background-image: url('../images/list-icons/tick_b&w@2x.png');
			background-size: 12px 9px;
		}
		.list-tick li {
			background-image: url('../images/list-icons/tick_colour@2x.png');
			background-size: 12px 9px;
		}
		.list-user li {
			background-image: url('../images/list-icons/user_b&w@2x.png');
			background-size: 12px 11px;
		}
		.list-warning_bw li {
			background-image: url('../images/list-icons/warning_b&w@2x.png');
			background-size: 12px 11px;
		}
		.list-warning li {
			background-image: url('../images/list-icons/warning_colour@2x.png');
			background-size: 12px 11px;
		}
		.wpb_accordion_section > h3 a, .ui-tabs .ui-tabs-nav li a {
			background-image: url('../images/scanlines_dark@2x.png');
			background-size: 4px 4px;
		}
		.wpb_accordion_section > h3.ui-state-active a, .ui-tabs .ui-tabs-nav li.ui-tabs-active a, .widget_calendar tbody tr > td.pad {
			background-image: url('../images/scanlines_light@2x.png');
			background-size: 4px 4px;
		}
		.sidebar .widget-heading h3, h3.wpb_heading {
			background-image: url('../images/header_line_light@2x.png');
			background-size: 1px 2px;
		}
		.dark .sidebar .widget-heading h3, .dark h3.wpb_heading {
			background-image: url('../images/header_line_dark@2x.png');	
			background-size: 1px 2px;
		}
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {
		
		#mini-header {
			display: none!important;
		}
		#posts-slider .flex-direction-nav, #posts-slider .flex-control-nav, #posts-slider .slider-shadow {
			display: none;
		}
		#posts-slider {
			margin-bottom: 50px;
		}
		
		embed {
			display: none;
		}
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 979px) {
	
		/* LAYOUT */
		#mini-header {
			width: 724px;
		}
		.boxed-layout {
			width: 748px;
		}
		#header-login form {
			width: 72%;
			height: 36px;
		}
		#header-login #username {
			width: 33%;
			font-size: 14px;
		}
		#header-login #password {
			width: 58%;
			font-size: 14px;
		}
		#header-login .recover-password {
			font-size: 12px;
			padding: 8px 0 5px 0;
		}
		#logo img {
			max-width: 100%!important;
		}
		.header-advert {
			padding-left: 0;
			padding-right: 0;
		}
		.ticker-content {
			width: 550px;
		}
		#posts-slider, #posts-slider ul.slides, #posts-slider ul.slides > li {
			min-height: 400px;
			max-height: 400px;
		}
		#posts-slider .slide-caption-container {
			width: 684px;
			margin-right: -342px;
		}
		#posts-slider .flex-caption-large .caption-left {
			max-width: 55%;
		}
		#posts-slider .flex-caption-large .caption-right {
			max-width: 35%;
		}
		#posts-slider .comments-likes.cl-circles > div {
			padding: 9px 0px;
		}
		
			
		/* PORTFOLIO - NO SIDEBAR */
		.portfolio-items li.four.columns {
			width: 156px;
		}
		.portfolio-items li.four.columns figure, .portfolio-items li.four.columns figure img, .portfolio-items li.four.columns figure iframe {
			width: 156px;
			height: 117px;
		}
		.portfolio-items.masonry-items li.four.columns, .portfolio-items.masonry-items li.four.columns figure, .portfolio-items.masonry-items li.four.columns figure img, .portfolio-items.masonry-items li.four.columns figure iframe {
			width: 156px;
			height: auto;
		}
		.portfolio-items li.four.columns.bordered figure, .portfolio-items li.four.columns.bordered figure img, .portfolio-items li.four.columns.bordered figure iframe {
			width: 144px;
			height: 108px;
		}
		.portfolio-items li.thirds.columns {
			width: 214px;
		}
		.portfolio-items li.thirds.columns figure, .portfolio-items li.thirds.columns figure img, .portfolio-items li.thirds.columns figure iframe {
			width: 214px;
			height: 161px;
		}
		.portfolio-items.masonry-items li.thirds.columns, .portfolio-items.masonry-items li.thirds.columns figure, .portfolio-items.masonry-items li.thirds.columns figure img, .portfolio-items.masonry-items li.thirds.columns figure iframe {
			width: 214px;
			height: auto;
		}
		.portfolio-items li.thirds.columns.bordered figure, .portfolio-items li.thirds.columns.bordered figure img, .portfolio-items li.thirds.columns.bordered figure iframe {
			width: 202px;
			height: 152px;
		}
		.portfolio-items li.eight.columns {
			width: 332px;
		}
		.portfolio-items li.eight.columns figure, .portfolio-items li.eight.columns figure img, .portfolio-items li.eight.columns figure iframe {
			width: 332px;
			height: 249px;
		}
		.portfolio-items.masonry-items li.eight.columns, .portfolio-items.masonry-items li.eight.columns figure, .portfolio-items.masonry-items li.eight.columns figure img, .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 332px;
			height: auto;
		}
		.portfolio-items li.eight.columns.bordered figure, .portfolio-items li.eight.columns.bordered figure img, .portfolio-items li.eight.columns.bordered figure iframe {
			width: 320px;
			height: 240px;
		}
		.portfolio-items li.one-col figure {
			width: 384px;
		}
		.portfolio-items li.one-col.gallery figure {
			width: 684px;
		}
		.portfolio-items li.one-col.gallery.bordered figure {
			width: 672px;
		}
		
		
		/* PORTFOLIO - ONE SIDEBAR */
		.has-one-sidebar .portfolio-items li.four.columns {
			width: 209px;
		}
		.has-one-sidebar .portfolio-items li.four.columns figure, .has-one-sidebar .portfolio-items li.four.columns figure img, .has-one-sidebar .portfolio-items li.four.columns figure iframe {
			width: 209px;
			height: 157px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.four.columns, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure iframe {
			width: 209px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.four.columns.bordered figure, .has-one-sidebar .portfolio-items li.four.columns.bordered figure img, .has-one-sidebar .portfolio-items li.four.columns.bordered figure iframe {
			width: 197px;
			height: 145px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns {
			width: 209px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns figure, .has-one-sidebar .portfolio-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items li.thirds.columns figure iframe {
			width: 209px;
			height: 164px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.thirds.columns, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure iframe {
			width: 209px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns.bordered figure, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure img, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure iframe {
			width: 197px;
			height: 145px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns {
			width: 209px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns figure, .has-one-sidebar .portfolio-items li.eight.columns figure img, .has-one-sidebar .portfolio-items li.eight.columns figure iframe {
			width: 209px;
			height: 157px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.eight.columns, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 209px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.eight.columns.bordered figure, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure img, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure iframe {
			width: 197px;
			height: 145px;
		}
		.has-one-sidebar .portfolio-items li.one-col figure {
			width: 220px;
		}
		.has-one-sidebar .portfolio-items li.one-col .portfolio-item-details {
			width: 208px;
		}
		.has-one-sidebar .portfolio-items li.one-col.gallery figure {
			width: 448px;
		}
		.has-one-sidebar .portfolio-items li.one-col.gallery.bordered figure {
			width: 436px;
		}
		.portfolio-items li.one-col.bordered .portfolio-item-details {
			width: 196px;
		}
		
		
		/* PORTFOLIO - BOTH SIDEBARS */
		.has-both-sidebars .portfolio-items li.eight.columns {
			width: 156px;
		}
		.has-both-sidebars .portfolio-items li.eight.columns figure, .has-both-sidebars .portfolio-items li.eight.columns figure img, .has-both-sidebars .portfolio-items li.eight.columns figure iframe {
			width: 156px;
			height: 117px;
		}
		.has-both-sidebars .portfolio-items.masonry-items li.eight.columns, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure img, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 156px;
			height: auto;
		}
		.has-both-sidebars .portfolio-items li.eight.columns.bordered figure, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure img, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure iframe {
			width: 144px;
			height: 108px;
		}
		.has-both-sidebars .portfolio-items li.one-col.gallery figure, .has-both-sidebars .portfolio-items li.one-col figure, .has-both-sidebars .portfolio-items li.one-col .portfolio-item-details {
			width: 332px;
		}
		.has-both-sidebars .portfolio-items li.one-col.bordered figure {
			width: 352px;
		}
		
		
		/* BLOG */
		.has-both-sidebars .mini-items .blog-item figure {
			width: 332px;
			float: none;
			margin-bottom: 10px;
		}
		.has-one-sidebar .masonry-items .blog-item {
			width: 212px;
		}
		.has-no-sidebar .masonry-items .blog-item {
			width: 212px;
		}
		.has-both-sidebars .masonry-items .blog-item {
			width: 330px;
		}
		.container .related-item.four.columns {
			width: 96px;
		}
		.related-item figure > a {
			width: 98px;
			height: 68px;
		}
		.container .has-both-sidebars .related-item.four.columns, .container .has-no-sidebar .related-item.four.columns {
			width: 156px;
		}
		.has-both-sidebars .related-item figure > a, .has-no-sidebar .related-item figure > a {
			width: 156px;
			height: 108px;
		}
		.share-links .share-text {
			display: none;
		}
		.share-buttons span {
			display: inline-block;
			padding-bottom: 5px;
		}
		
		/* ASSETS */
		.client-item {
			width: 116px;
		}
		.client-item figure {
			width: 116px;
			height: 116px;
		}
		.sf-icon.icon-large.sf-icon-cont {
			padding: 24px;
		}
		article.type-team .article-body-wrap {
			width: 45%;
			margin-right: 20px;
		}
		article.type-team .profile-image-wrap {
			width: 52%;
		}
		.pricing-table-price {
			font-size: 26px;
		}
		.bordered.columns-4 .pricing-table-column, .bordered_alt.columns-4 .pricing-table-column {
			width: 22.1%;
		}
		.bordered.columns-3 .pricing-table-column, .bordered_alt.columns-3 .pricing-table-column {
			width: 30.3%;
		}
		.bordered.columns-2 .pricing-table-column, .bordered_alt.columns-2 .pricing-table-column {
			width: 47%;
		}
		.bordered.columns-1 .pricing-table-column, .bordered_alt.columns-1 .pricing-table-column {
			width: 97%;
		}
		.pricing-table-wrap.bordered .pricing-table-price {
			float: none;
			margin-top: 10px;
		}
		.recent-post {
			width: 156px;
		}
		.has-one-sidebar .recent-post {
			width: 214px;
		}
			
		
		/* OTHER */
		
		.has-one-sidebar .carousel-wrap .carousel-items > li {
			width: 136px;
		}
		.sidebar-ad-grid ul > li {
			max-width: 82px;
		}
		.four.columns .sidebar-ad-grid ul > li {
			max-width: 116px;
		}
		.four.columns .subscribers-list li {
			width: 100%;
			margin: 0 0 15px;
		}
		.subscribers-list li {
			width: 52px;
		}
		.widget.flickr-widget li {
			height: 106px;
			width: 106px;
			min-height: 106px;
			min-width: 106px;
		}
		.widget.flickr-widget li img {
			height: 106px;
			min-height: 106px;
			min-width: 106px;
		}
		.four.columns .widget.flickr-widget li {
			height: 77px;
			width: 77px;
			min-height: 77px;
			min-width: 77px;
		}
		.four.columns .widget.flickr-widget li img {
			height: 77px;
			min-height: 77px;
			min-width: 77px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		/* VIDEO PLAYER */
		
		div.jp-video-full div.jp-jplayer img {
			display: none!important;
		}
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
		/* GENERAL */
		.flex-pauseplay, .flex-control-nav {
			display: none;
		}
		.flex-direction-nav .prev {
			left: 0;
			opacity: 1;
		}
		.flex-direction-nav .next {
			right: 0;
			opacity: 1;
		}
	
		/* LAYOUT */
		.boxed-layout {
			width: 478px;
		}
		.ticker-content {
			width: 300px;
		}
		#sitewide-ad, #sitewide-ad img, #sitewide-ad object, #sitewide-ad embed {
			width: 100%;
			max-width: 100%;
		}
		#sitewide-ad img {
			height: auto;
		}
		#posts-slider, #posts-slider ul.slides, #posts-slider ul.slides > li {
			min-height: 278px;
			max-height: 278px;
		}
		#posts-slider .slide-caption-container {
			width: 428px;
			margin-right: -214px;
		}
		#posts-slider .blog-item-details {
			display: none;
		}
		#posts-slider .excerpt {
			display: none;
		}
		#posts-slider .flex-caption-large {
			margin: 10% 8% 0;
		}
		#posts-slider .flex-caption {
			background: rgba(255,255,255,0.8);
		}
		.flex-caption.caption-full {
			padding: 20px;
		}
		.flex-caption.caption-full h4 {
			width: 55%;
		}
		#posts-slider .flex-caption-large .caption-left {
			max-width: 40%;
		}
		#posts-slider .flex-caption-large .caption-right {
			max-width: 40%;
		}
		.page-content {
			padding-bottom: 50px;
			margin-bottom: 50px;
			border-bottom-width: 1px;
		}
		.wpb_text_column {
			margin-bottom: 30px;
		}
		
		
		/* HEADER */
		#main-navigation {
			display: none;
		}
		#mobile-navigation {
			display: block;
		}
		#menubar-controls {
			text-align: center;
			margin-bottom: 15px;
		}
		.logo-left #logo, .logo-right .header-items {
			margin-bottom: 30px;
		}
		.logo-center #logo, .logo-center .header-items {
			margin-bottom: 20px;
		}
		nav#top-bar-menu {
			display: none;
		}
		nav#mobile-top-bar-menu {
			display: block;
		}
		#logo img {
			margin: 0 auto;
			padding: 0!important;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}
		#top-bar-social {
			margin-bottom: 20px;
		}
		#top-bar-social > ul {
			text-align: center;
			float: none;
		}
		#top-bar-social ul li {
			float: none;
		}
		.header-advert {
			text-align: center;
			min-height: 0;
		}
		#mini-header {
			display: none!important;
		}
		#header-login form {
			width: 100%;
			height: auto;
		}
		#header-login {
			margin: 0px!important;
		}
		#header-login #username, #header-login #password {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}
		#header-login .recover-password {
			float: none;
			padding: 0 0 10px;
			display: block;
			width: 100%;
			text-align: center;
		}
		#header-login #password, #header-login #username, #header-search input, #header-subscribe input {
			font-size: 14px;	
		}
		
		
		/* PORTFOLIO */
		
		.filter-wrap .select {
			width: 100%;
			float: none;
			text-align: center;
			display: block;
			margin-bottom: 10px;
		}
		.filter-wrap ul {
			width: 100%;
		}
		.filter-wrap ul li {
			width: 100%;
			text-align: center;
		}
		
		/* PORTFOLIO - NO SIDEBAR */
		.portfolio-items li.four.columns, .portfolio-items li.thirds.columns, .portfolio-items li.eight.columns {
			width: 200px;
			margin: 0 10px 20px;
		}
		.portfolio-items li.four.columns figure, .portfolio-items li.four.columns figure img, .portfolio-items li.four.columns figure iframe, .portfolio-items li.thirds.columns figure, .portfolio-items li.thirds.columns figure img, .portfolio-items li.thirds.columns figure iframe, .portfolio-items li.eight.columns figure, .portfolio-items li.eight.columns figure img, .portfolio-items li.eight.columns figure iframe {
			width: 200px;
			height: 150px;
		}
		.portfolio-items.masonry-items li.four.columns, .portfolio-items.masonry-items li.four.columns figure, .portfolio-items.masonry-items li.four.columns figure img, .portfolio-items.masonry-items li.four.columns figure iframe, .portfolio-items.masonry-items li.thirds.columns, .portfolio-items.masonry-items li.thirds.columns figure, .portfolio-items.masonry-items li.thirds.columns figure img, .portfolio-items.masonry-items li.thirds.columns figure iframe, .portfolio-items.masonry-items li.eight.columns, .portfolio-items.masonry-items li.eight.columns figure, .portfolio-items.masonry-items li.eight.columns figure img, .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 200px;
			height: auto;
		}
		.portfolio-items li.four.columns.bordered figure, .portfolio-items li.four.columns.bordered figure img, .portfolio-items li.four.columns.bordered figure iframe, .portfolio-items li.thirds.columns.bordered figure, .portfolio-items li.thirds.columns.bordered figure img, .portfolio-items li.thirds.columns.bordered figure iframe, .portfolio-items li.eight.columns.bordered figure, .portfolio-items li.eight.columns.bordered figure img, .portfolio-items li.eight.columns.bordered figure iframe {
			width: 188px;
			height: 138px;
		}
		.portfolio-items li.one-col {
			width: 420px;
			margin: 0 10px 20px;
		}
		.portfolio-items li.one-col figure {
			width: 420px;
			float: none;
			margin-right: 0;
		}
		.portfolio-items li.one-col .portfolio-item-details {
			float: none;
			width: 100%;
		}
		.portfolio-items li.one-col.bordered, .portfolio-items li.one-col.bordered figure {
			width: 408px;
		}
		.portfolio-items li.one-col.gallery figure {
			width: 100%;
		}
		.portfolio-items li.one-col.gallery.bordered figure {
			width: 408px;
		}
		.portfolio-details-wrap .client, .portfolio-details-wrap .date, .portfolio-details-wrap .tags {
			display: block;
			margin-bottom: 5px;
		}
		.portfolio-details-wrap .item-link {
			float: none;
		}
		
		
		/* PORTFOLIO - ONE SIDEBAR */
		.has-one-sidebar .portfolio-items li.four.columns {
			width: 200px;
		}
		.has-one-sidebar .portfolio-items li.four.columns figure, .has-one-sidebar .portfolio-items li.four.columns figure img, .has-one-sidebar .portfolio-items li.four.columns figure iframe {
			width: 200px;
			height: 150px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.four.columns, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure iframe {
			width: 200px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.four.columns.bordered figure, .has-one-sidebar .portfolio-items li.four.columns.bordered figure img, .has-one-sidebar .portfolio-items li.four.columns.bordered figure iframe {
			width: 188px;
			height: 138px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns {
			width: 200px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns figure, .has-one-sidebar .portfolio-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items li.thirds.columns figure iframe {
			width: 200px;
			height: 150px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.thirds.columns, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure iframe {
			width: 200px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns.bordered figure, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure img, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure iframe {
			width: 188px;
			height: 138px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns {
			width: 200px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns figure, .has-one-sidebar .portfolio-items li.eight.columns figure img, .has-one-sidebar .portfolio-items li.eight.columns figure iframe {
			width: 200px;
			height: 150px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.eight.columns, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 200px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.eight.columns.bordered figure, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure img, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure iframe {
			width: 188px;
			height: 138px;
		}
		.has-one-sidebar .portfolio-items li.one-col figure, .has-one-sidebar .portfolio-items li.one-col .portfolio-item-details, .portfolio-items li.one-col.bordered .portfolio-item-details {
			width: 420px;
			float: none;
		}
		.has-one-sidebar .portfolio-items li.one-col.gallery figure {
			width: 420px;
		}
		.has-one-sidebar .portfolio-items li.one-col.bordered figure {
			width: 408px;
		}

		
		/* PORTFOLIO - BOTH SIDEBARS */
		.has-both-sidebars .portfolio-items li.eight.columns {
			width: 200px;
		}
		.has-both-sidebars .portfolio-items li.eight.columns figure, .has-both-sidebars .portfolio-items li.eight.columns figure img, .has-both-sidebars .portfolio-items li.eight.columns figure iframe {
			width: 200px;
			height: 150px;
		}
		.has-both-sidebars .portfolio-items.masonry-items li.eight.columns, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure img, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 200px;
			height: auto;
		}
		.has-both-sidebars .portfolio-items li.eight.columns.bordered figure, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure img, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure iframe {
			width: 188px;
			height: 138px;
		}
		.has-both-sidebars .portfolio-items li.one-col.gallery figure, .has-both-sidebars .portfolio-items li.one-col figure, .has-both-sidebars .portfolio-items li.one-col .portfolio-item-details {
			width: 420px;
		}
		.has-both-sidebars .portfolio-items li.one-col.bordered figure {
			width: 408px;
		}
		
		
		/* BLOG */
		.mini-items .blog-item figure, .has-no-sidebar .mini-items .blog-item figure, .has-both-sidebars .mini-items .blog-item figure {
			width: 420px;
			float: none;
			margin-bottom: 10px;
		}
		.has-one-sidebar .masonry-items .blog-item, .has-no-sidebar .masonry-items .blog-item, .has-both-sidebars .masonry-items .blog-item {
			width: 420px;
		}
		.related-wrap {
			padding: 30px 20px;
			margin: 0 -20px 40px -20px;
		}
		.container .related-item.four.columns, .container .has-both-sidebars .related-item.four.columns, .container .has-no-sidebar .related-item.four.columns {
			width: 90px;
			margin: 0 10px 20px;
		}
		.related-item figure > a, .has-both-sidebars .related-item figure > a, .has-no-sidebar .related-item figure > a {
			width: 90px;
			height: 62px;
		}
		.related-item figcaption {
			min-height: 36px;
		}
		.carousel-items li.blog-item.four.columns {
			width: 200px;
			margin: 0 10px 20px;
		}
		
		/* FOOTER */
		#footer-widgets {
			margin: 0;
		}
		#footer-widgets .four.columns {
			width: 100%;
		}
		#copyright p {
			text-align: center;
			width: 100%;
			margin-bottom: 30px;
		}
		.fullwidth-layout #copyright p {
			padding-left: 0;
		}
		#copyright .beam-me-up {
			width: 100%;
			float: none;
			text-align: center;
			display: block;
		}
		
		
		/* ASSETS */
		ul.recent-posts {
			margin-right: 0;
		}
		.recent-post, .has-one-sidebar .recent-post {
			width: 200px;
		}
		.has-one-sidebar .carousel-wrap .carousel-items > li {
			width: 200px;
		}
		.wpb_impact_text .wpb_call_text, .wpb_impact_text p {
			width: 100%;
			text-align: center;
			float: none;
		}
		.wpb_impact_text .wpb_button {
			margin: 20px auto 0;
			float: none;
			text-align: center;
			display: block;
		}
		.client-item {
			width: 122px;
		}
		.client-item figure {
			width: 122px;
			height: 122px;
		}
		.team-members li.four.columns {
			width: 200px;
		}
		.faqs-nav li {
			width: 92%;
		}
		.team-members li.four.columns {
			margin: 0 10px 30px;
		}
		article.type-team .article-body-wrap {
			width: 100%;
			margin-right: 0;
			float: none;
		}
		article.type-team .profile-image-wrap {
			width: 100%;
			float: none;
			margin-bottom: 20px;
		}
		article.type-team .member-position {
			margin-bottom: 20px;
		}
		.columns-4 .pricing-table-column {
			width: 50%;
		}
		.pricing-table-wrap.bordered .pricing-table-price {
			float: right;
			margin-top: 0;
		}
		.bordered.columns-4 .pricing-table-column, .bordered_alt.columns-4 .pricing-table-column {
			width: 45.3%;
			margin-bottom: 10px;
		}
		.bordered.columns-3 .pricing-table-column, .bordered_alt.columns-3 .pricing-table-column {
			width: 95.5%;
			margin-bottom: 10px;
		}
		.bordered.columns-2 .pricing-table-column, .bordered_alt.columns-2 .pricing-table-column {
			width: 45.3%;
		}
		.bordered.columns-1 .pricing-table-column, .bordered_alt.columns-1 .pricing-table-column {
			width: 95.5%;
		}
		.carousel-wrap .carousel-items > li:first-child {
			margin-left: 0px!important;
		}
		.labelled-pricing-table.columns-5 .pricing-table-column {
			width: 25%;
		}
		.labelled-pricing-table.columns-4 .pricing-table-column {
			width: 33.3%;
		}
		.labelled-pricing-table.columns-3 .pricing-table-column {
			width: 50%;
		}
		.labelled-pricing-table.columns-2 .pricing-table-column {
			width: 100%;
		}
		.labelled-pricing-table .label-column {
			display: none;
		}
		.labelled-pricing-table .pricing-table-label-row {
			display: block;
		}
	
		
		/* VIDEO PLAYER */
		div.jp-video-full .interface-wrap {
			width: 100%;
		}
		div.jp-video .jp-jplayer, div.jp-video .jp-jplayer video {
			width: 100%!important;
			height: 236px!important;
		}
		div.jp-video-full .jp-jplayer, div.jp-video-full .jp-jplayer video {
			width: 100%!important;
			height: 100%!important;
		}
		div.jp-video div.jp-jplayer img {
			width: 100%!important;
		}
		div.jp-video .jp-progress, div.jp-video.jp-video-530p .jp-progress {
			width: 204px;
		}
		
		
		/* OTHER */
		.sidebar-ad-grid ul > li {
			max-width: 87px!important;
		}
		.subscribers-list li {
			width: 64px!important;
			margin: 0 0 0 10px!important;
		}
		.widget.flickr-widget li {
			height: 103px!important;
			width: 103px!important;
			min-height: 103px!important;
			min-width: 103px!important;
		}
		.widget.flickr-widget li img {
			height: 103px!important;
			min-height: 103px!important;
			min-width: 103px!important;
		}
		ul.products li.product {
			margin: 0 20px 2.992em 0;
			width: 47%;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.fullwidth-layout .related-wrap {
			margin: 0 -30px 40px -30px;
		}
		.carousel-wrap .carousel-items > li {
			width: 200px!important;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {	
	
		/* GENERAL */
		#header-login #password, #header-login #username, #header-search input {
			font-size: 12px;	
		}
		#header-subscribe input {
			font-size: 11px;
		}
		.flex-direction-nav {
			display: none;
		}
		.boxed-layout {
			width: 320px;
		}
		#logo img {
			max-width: 100%!important;
		}
		.ticker-content {
			width: 170px;
		}
		#posts-slider, #posts-slider ul.slides, #posts-slider ul.slides > li {
			min-height: 200px;
			max-height: 200px;
		}
		#posts-slider .slide-caption-container {
			width: 320px;
			margin-right: 0;
			right: 0;
		}
		.flex-caption.caption-full .item-cats {
			display: none;
		}
		.flex-caption.caption-full h4 {
			width: 62%;
		}
		#posts-slider .flex-caption-large .caption-left {
			max-width: 100%;
			float: none;
		}
		#posts-slider .flex-caption-large .caption-right {
			display: none;
		}
		
		
		
		/* PORTFOLIO - NO SIDEBAR */
		.portfolio-items li.four.columns, .portfolio-items li.thirds.columns, .portfolio-items li.eight.columns {
			width: 280px;
		}
		.portfolio-items li.four.columns figure, .portfolio-items li.four.columns figure img, .portfolio-items li.four.columns figure iframe, .portfolio-items li.thirds.columns figure, .portfolio-items li.thirds.columns figure img, .portfolio-items li.thirds.columns figure iframe, .portfolio-items li.eight.columns figure, .portfolio-items li.eight.columns figure img, .portfolio-items li.eight.columns figure iframe {
			width: 280px;
			height: 210px;
		}
		.portfolio-items.masonry-items li.four.columns, .portfolio-items.masonry-items li.four.columns figure, .portfolio-items.masonry-items li.four.columns figure img, .portfolio-items.masonry-items li.four.columns figure iframe, .portfolio-items.masonry-items li.thirds.columns, .portfolio-items.masonry-items li.thirds.columns figure, .portfolio-items.masonry-items li.thirds.columns figure img, .portfolio-items.masonry-items li.thirds.columns figure iframe, .portfolio-items.masonry-items li.eight.columns, .portfolio-items.masonry-items li.eight.columns figure, .portfolio-items.masonry-items li.eight.columns figure img, .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 280px;
			height: auto;
		}
		.portfolio-items li.four.columns.bordered figure, .portfolio-items li.four.columns.bordered figure img, .portfolio-items li.four.columns.bordered figure iframe, .portfolio-items li.thirds.columns.bordered figure, .portfolio-items li.thirds.columns.bordered figure img, .portfolio-items li.thirds.columns.bordered figure iframe, .portfolio-items li.eight.columns.bordered figure, .portfolio-items li.eight.columns.bordered figure img, .portfolio-items li.eight.columns.bordered figure iframe {
			width: 268px;
			height: 201px;
		}
		.portfolio-items li.one-col, .portfolio-items li.one-col figure {
			width: 280px;
		}
		.portfolio-items li.one-col.bordered, .portfolio-items li.one-col.bordered figure, .portfolio-items li.one-col.gallery.bordered figure {
			width: 268px;
		}
		
		
		/* PORTFOLIO - ONE SIDEBAR */
		.has-one-sidebar .portfolio-items li.four.columns {
			width: 280px;
		}
		.has-one-sidebar .portfolio-items li.four.columns figure, .has-one-sidebar .portfolio-items li.four.columns figure img, .has-one-sidebar .portfolio-items li.four.columns figure iframe {
			width: 280px;
			height: 210px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.four.columns, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.four.columns figure iframe {
			width: 280px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.four.columns.bordered figure, .has-one-sidebar .portfolio-items li.four.columns.bordered figure img, .has-one-sidebar .portfolio-items li.four.columns.bordered figure iframe {
			width: 268px;
			height: 201px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns {
			width: 280px;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns figure, .has-one-sidebar .portfolio-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items li.thirds.columns figure iframe {
			width: 280px;
			height: 210px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.thirds.columns, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.thirds.columns figure iframe {
			width: 280px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.thirds.columns.bordered figure, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure img, .has-one-sidebar .portfolio-items li.thirds.columns.bordered figure iframe {
			width: 268px;
			height: 201px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns {
			width: 280px;
		}
		.has-one-sidebar .portfolio-items li.eight.columns figure, .has-one-sidebar .portfolio-items li.eight.columns figure img, .has-one-sidebar .portfolio-items li.eight.columns figure iframe {
			width: 280px;
			height: 210px;
		}
		.has-one-sidebar .portfolio-items.masonry-items li.eight.columns, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure img, .has-one-sidebar .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 280px;
			height: auto;
		}
		.has-one-sidebar .portfolio-items li.eight.columns.bordered figure, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure img, .has-one-sidebar .portfolio-items li.eight.columns.bordered figure iframe {
			width: 268px;
			height: 201px;
		}
		.has-one-sidbar .portfolio-items li.one-col figure, .has-one-sidebar .portfolio-items li.one-col .portfolio-item-details {
			width: 280px;
		}
		.has-one-sidebar .portfolio-items li.one-col.gallery figure {
			width: 280px;
		}
		.has-one-sidebar .portfolio-items li.one-col.bordered figure {
			width: 268px;
		}
		
		
		/* PORTFOLIO - BOTH SIDEBARS */
		.has-both-sidebars .portfolio-items li.eight.columns {
			width: 280px;
		}
		.has-both-sidebars .portfolio-items li.eight.columns figure, .has-both-sidebars .portfolio-items li.eight.columns figure img, .has-both-sidebars .portfolio-items li.eight.columns figure iframe {
			width: 280px;
			height: 210px;
		}
		.has-both-sidebars .portfolio-items.masonry-items li.eight.columns, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure img, .has-both-sidebars .portfolio-items.masonry-items li.eight.columns figure iframe {
			width: 280px;
			height: auto;
		}
		.has-both-sidebars .portfolio-items li.eight.columns.bordered figure, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure img, .has-both-sidebars .portfolio-items li.eight.columns.bordered figure iframe {
			width: 268px;
			height: 201px;
		}
		.has-both-sidebars .portfolio-items li.one-col.gallery figure, .has-both-sidebars .portfolio-items li.one-col figure, .has-both-sidebars .portfolio-items li.one-col .portfolio-item-details {
			width: 280px;
		}
		.has-both-sidebars .portfolio-items li.one-col.bordered figure {
			width: 268px;
		}
		
		
		/* BLOG */
		.mini-items .blog-item figure, .has-no-sidebar .mini-items .blog-item figure, .has-both-sidebars .mini-items .blog-item figure {
			width: 280px;
		}
		.has-one-sidebar .masonry-items .blog-item, .has-no-sidebar .masonry-items .blog-item, .has-both-sidebars .masonry-items .blog-item {
			width: 280px;
		}
		.comments-likes {
			float: none;
			margin-top: 10px;
		}
		.masonry-items .blog-item .comments-likes {
			float: right;
			margin-top: 0;
		}
		.container .related-item.four.columns, .container .has-both-sidebars .related-item.four.columns, .container .has-no-sidebar .related-item.four.columns {
			width: 130px;
		}
		.related-item figure > a, .has-both-sidebars .related-item figure > a, .has-no-sidebar .related-item figure > a {
			width: 130px;
			height: 90px;
		}
		.author-info, .has-both-sidebars .author-info {
			width: 66%;
		}
		.carousel-items li.blog-item.four.columns {
			width: 280px;
		}
		
		/* ASSETS */
		.has-one-sidebar .carousel-wrap .carousel-items > li {
			width: 280px;
		}
		.recent-post, .has-one-sidebar .recent-post {
			width: 280px;
			margin-bottom: 20px;
		}
		.client-item {
			width: 137px;
		}
		.client-item figure {
			width: 137px;
			height: 137px;
		}
		.team-members li.four.columns {
			width: 280px;
		}
		.columns-3 .pricing-table-column {
			width: 100%;
			margin-bottom: 10px;
		}
		.columns-3 .pricing-table-column {
			border-left-width: 1px;
		}
		.columns-2 .pricing-table-column {
			width: 50%;
		}
		.bordered.columns-4 .pricing-table-column, .bordered_alt.columns-4 .pricing-table-column {
			width: 94%;
		}
		.bordered.columns-3 .pricing-table-column, .bordered_alt.columns-3 .pricing-table-column {
			width: 94%;
		}
		.bordered.columns-2 .pricing-table-column, .bordered_alt.columns-2 .pricing-table-column {
			width: 94%;
			margin-bottom: 10px;
		}
		.bordered.columns-1 .pricing-table-column, .bordered_alt.columns-1 .pricing-table-column {
			width: 94%;
		}
		.labelled-pricing-table.columns-5 .pricing-table-column {
			width: 50%;
		}
		.labelled-pricing-table.columns-5 .pricing-table-column {
			margin-top: 0;
			padding-left: 0;
		}
		.labelled-pricing-table.columns-5 .column-highlight .lpt-button-wrap {
			padding: 20px 10px;
		}
		.labelled-pricing-table.columns-5 .pricing-table-package {
			padding: 9px 5px 8px;
		}
		
		
		/* VIDEO PLAYER */
		
		div.jp-video-full div.jp-jplayer img {
			display: none!important;
		}
		div.jp-video-full .interface-wrap {
			width: 100%;
		}
		div.jp-video .jp-jplayer, div.jp-video .jp-jplayer video {
			width: 100%!important;
			height: 170px!important;
		}
		div.jp-video-full .jp-jplayer, div.jp-video-full .jp-jplayer video {
			width: 100%!important;
			height: 100%!important;
		}
		div.jp-video div.jp-jplayer img {
			width: 100%!important;
		}
		div.jp-video .jp-progress, div.jp-video.jp-video-530p .jp-progress {
			width: 188px;
		}
		div.jp-volume-bar {
			display: none!important;
		}
		
		
		/* COMMENTS */
		.comment-wrap .comment-content {
			width: 84%;
			margin-left: 0;
		}
		.comment-wrap .comment-avatar {
			display: none;
		}
		.comment .children > li {
			padding: 0 0 0 15px;
			background-position: 0 5px;
		}
		.comment .children > li .comment-wrap {
			padding-left: 0;
		}
		.comment .avatar-arrow {
			display: none;
		}
		
		
		/* OTHER */
		.one_half, .one_third, .two_third, .three_fourth, .one_fourth {
			width: 96%;
			margin-bottom: 10px;
		}
		ul.social-icons {
			margin-right: 0;
		}
		#sidebar .widget.flickr-widget li {
			width: 80px;
			height: 80px;
		}
		#sidebar .flickr-widget li img {
			height: 80px;
			width: auto;
			min-height: 80px;
			min-width: 80px;
		}
		.sidebar-ad-grid ul > li {
			max-width: 115px!important;
		}
		.widget.flickr-widget li {
			height: 138px!important;
			width: 138px!important;
			min-height: 138px!important;
			min-width: 138px!important;
		}
		.widget.flickr-widget li img {
			height: 138px!important;
			min-height: 138px!important;
			min-width: 138px!important;
		}
		ul.products li.product {
			margin: 0 0 2.992em 0;
			width: 100%;
		}
	}