/* Uploaded image */
.rwmb-images {
	overflow: hidden;
}
.rwmb-images li {
	margin: 0 10px 10px 0;
	float: left;
	width: 150px;
	height: 150px;
	text-align: center;
	border: 2px solid #ccc;
	cursor: move;
	position: relative;
}
.rwmb-images img {
	width: 150px;
	height: 150px;
}
.rwmb-image-bar {
	color: #fff;
	font-weight: bold;
	background: #000;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	display:none;
	text-align: center;
	vertical-align:middle;
}
li:hover .rwmb-image-bar{
	display:block;	
}

.rwmb-image-bar a {
	color: #fff;
	font-weight: bold;
	text-decoration:none;
	text-align: center;
	vertical-align:inherit;
	padding: 0 3px;
}

.rwmb-image-bar a.rwmb-delete-file {
	font-weight:lighter;
	font-size: 20px;
	width: 18px;
	vertical-align: top;
}
