/* =Styles for 'normal' meta boxes
-------------------------------------------------------------- */

/* BEGIN jquery.validate styles */
label.error {
	padding-left: 3px;
	color: red;
}

input.error, textarea.error, select.error {
	border: #CC0000 solid 1px !important;
	background-color: #FFEBE8 !important;
}
/* END jquery.validate styles */

.rwmb-field {
	margin: 10px 0;
}
.rwmb-label, 
.rwmb-input {
	display: inline-block;
	vertical-align: top;
}
.rwmb-label {
	width: 24%;
}
	.rwmb-label > .required
	{
		color: red;
		font-weight:bold;
	}
/* 75% if field has label, 100% if no label */
.rwmb-input {
	width: 100%;
}
.rwmb-label ~ .rwmb-input {
	width: 75%;
}
.rwmb-input h4 {
	margin-top: 0;
}
.rwmb-textarea {
	resize: vertical;
}
.rwmb-clone {
	min-height: 24px;
}
	.rwmb-clone > input[type="radio"],
	.rwmb-clone > input[type="checkbox"] {
		margin: 6px 0 0 4px;
	}
	/* fix width to not overlap button for cloned sliders */
	.rwmb-clone .rwmb-slider {
		width: 80%;
		margin: 6px 0 0;
	}
	/* fix buttons after sliders */
	.clearfix + .rwmb-button {
		margin-top: -16px;
	}
.rwmb-button {
	display: inline;
	float: right;
}
/* Hidden labels, :input fields, buttons */
.rwmb-label.hidden,
.rwmb-input.hidden,
.hidden .rwmb-button {
	display: none;
}

/* Fix empty block below admin footer (issue #24) */
#ui-datepicker-div {
	display: none;
}

/* =Styles for 'side' meta boxes
-------------------------------------------------------------- */

#side-sortables .rwmb-label, 
#side-sortables .rwmb-input {
	width: 100%;
}


h2.meta-box-section {
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
	margin-top: 5px;
}
p.description, .form-wrap p {
	margin: 6px 0 8px;
}

.meta-altbg-preview {
	width: 200px;
	height: 50px;
	border: 1px solid #e4e4e4;
	margin-left: 24.5%;
}
.meta-altbg-preview p {
	text-align: center;
	padding: 4px 0;
}